.board {
  background-color: "red";
  opacity: 0.7;
  height: 112px;
  border: solid 1px #ccc;
  text-align: center;
  width: 112px;
  display: inline-block;
  font-size: 14px;
}

.board-wrap {
  position: absolute;
  font-size: 0;
  margin: 78px;
  width: 1124px;
  top: 0;
  left: 0;
}

.board-image {
  background-image: url("../images/board.jpg");
  background-repeat: no-repeat;
  height: 1279px;
  width: 1368px;
  display: inline-block;
  position: absolute;
  top: 50;
  left:0;
}

.board-parent {
  width: 1270px;
  height: 1279px;
  position: relative;
}

.flex-parent {
  display: flex;
  align-items: center;
}
.table-container {
  width: 1000px;
  margin: 20px;
  overflow-x: auto; /* Enables horizontal scrolling if table is too wide */
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
